html {
    background: rgb(120, 120, 214);
}

body {
    text-align: center;
}

div {
    background-color: yellow;
}

#parentDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#weatherResults, #calendarResults {
    width: 45%;
    margin: 0 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 350px;
}